.container-fluid{
  
  margin-top: 30px;
 width:85%;
 background-color: rgb(93, 218, 223);
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:white;
}
.one{
  padding: 20px;
}
