
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img [src]="img"
      [style.width.px]="100"
      [style.height.px]="100" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand nav-link active" aria-current="page" routerLink="/">MEAN STACK BLOG</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-danger btn-lg" type="submit">sign in</button>
        </form>
      </div>
    </div>
  </nav>